<% layout('admin') -%>

<div class="table-responsive">
		<h1>Panel de administracion </h1>
		<p>Productos actuales</p>
		<h2><form action="/lenguajes/new"><button type="submit" class = "sin-borde color-rojo sin-fondo">Nuevo lenguaje</button></form></h2>
		<table class="table table-hover">
		<thead>	
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Acciones</th>
			</tr>
		</thead>
			<% for(var i=0; i<languages.length; i++){ 
			  %>
			  <%var lenguaje = languages[i]%>
				<tr>
					<td><%=lenguaje._id%></td>
					<td><%=lenguaje.title%></td>
					<td><%=lenguaje.description%></td>
					<td>
						<form method="get" action="/lenguajes/<%=lenguaje._id%>"><button onclick="form.action" type="submit" class="color-azul-rgb sin-borde sin-fondo">Mostrar</button>
						</form>
						<form method="post" action="/lenguajes/<%=lenguaje._id%>?_method=delete" ><button onclick="return confirm('¿Desea Eliminar el elemento?:\n' +  form.action)" type="submit" class="color-azul-rgb sin-borde sin-fondo " >Eliminar</button> </form>
					</td>
					
				</tr>
				
				<%
				} 
			%>
	</table>
</div>