<% layout('application') -%>
<section>
	<div class="boton-compartir text-center" >
		<i class="fa fa-share-alt fa-2x texto-blanco"></i>
		<div >   
		  <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook" class="boton-red-social first" style ="background-color: blue">
		    <i class="fa fa-facebook fa-2x  texto-blanco "></i>
		  </a>
		  <a href="javascript:twshareCurrentPage()" target="_blank" alt="Share on Twitter"  class="boton-red-social second" style ="background-color: aqua">
		    <i class="fa fa-twitter fa-2x texto-blanco"></i>
		  </a>
		</div>
	</div>
	<script language="javascript">
		    function fbshareCurrentPage()
		    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
	</script>
	<script language="javascript">
		    function twshareCurrentPage()
		    {window.open("https://twitter.com/intent/tweet?url="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
	</script>
</section>
<div style="padding:2em;">
	<h1 class="tamano-letra-20"><%= propiedad.title %></h1>
	<div class="sombreado-autor borde-redondo">
		<p class="margen-autor izquierda-texto">
			<a href="/lenguajes/<%=language.title%>"><%=language.title%></a>
		</p>
	</div>
	<div class="margen-abajo-autor text-justificado">
		<%- propiedad.description %>
	</div>
</div>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
<script>
	$(document).ready(function(){		
		$elements = $("pre > code");
  	for (var i = $elements.length - 1; i >= 0; i--) {
  		var el = $elements[i];
  		var data = $(el).html();
  		console.log(data);
			if(data){
				new_data = data.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");	
				$(el).html(new_data);
			}
			if($(el).attr("class")){
				var lang = $(el).attr("class").split("-")[1];
				lang = lang.replace("html","markup");
	  		$(el).attr("class","language-"+lang);	
			}
  		
  	};
  	Prism.highlightAll();
		setInterval(function(){
			$.ajax({
				url: "/propiedades/<%= propiedad._id %>/visits",
				dataType:"JSON",
				success:function(data){
					console.log(data);
					document.getElementById('odometer').innerHTML = data;
				},
				error: function(err){
					console.log(err);
				}
			});
		},1000);
	});
</script>