<% layout('application') -%>
<div style="padding:2em;">
	<h1 class="tamano-letra-20"><%= propiedad.title %></h1>
	<div class="sombreado-autor borde-redondo">
		<p class="margen-autor izquierda-texto">
			<a href="/lenguajes/<%=language.title%>"><%=language.title%></a>
		</p>
	</div>
	<div class="margen-abajo-autor text-justificado">
		<%- propiedad.description %>
	</div>
</div>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
<script>
	$(document).ready(function(){		
		$elements = $("pre > code");
  	for (var i = $elements.length - 1; i >= 0; i--) {
  		var el = $elements[i];
  		var data = $(el).html();
  		console.log(data);
			if(data){
				new_data = data.replace(/&/g, "&amp;").replace(/>/g, "&gt;").replace(/</g, "&lt;").replace(/"/g, "&quot;");	
				$(el).html(new_data);
			}
			if($(el).attr("class")){
				var lang = $(el).attr("class").split("-")[1];
				lang = lang.replace("html","markup");
	  		$(el).attr("class","language-"+lang);	
			}
  		
  	};
  	Prism.highlightAll();
		setInterval(function(){
			$.ajax({
				url: "/propiedades/<%= propiedad._id %>/visits",
				dataType:"JSON",
				success:function(data){
					console.log(data);
					document.getElementById('odometer').innerHTML = data;
				},
				error: function(err){
					console.log(err);
				}
			});
		},1000);
	});
</script>